[user]
  name = Thomas Birke
  email = {{ .git.email }}

[core]
  autocrlf = input
  commentChar = ";"
  editor = nvim
  excludesfile = ~/.config/git/gitignore_global
  filemode = false
  hooksPath = ~/.config/git/hooks
  pager = delta
  attributesfile = ~/.config/git/attributes

[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  lol = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cblue%ci%Cred%d%Cgreen %an%Creset %s\" --abbrev-commit --all
  smu = submodule update --init
  st = status

[difftool]
  prompt = false

[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended

[interactive]
  diffFilter = delta --color-only

[color]
  diff = auto
  status = auto
  branch = auto

[color "diff"]
  whitespace = red reverse

[push]
  default = simple

[commit]
  gpgsign = true

[diff]
  compactionHeuristic = true

[fetch]
  recurseSubmodules = false

[tag]
  sort = version:refname

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[credential]
  # helper = cache --timeout=9999999999999999
  helper = "!git-credential-gopass $@"
