[user]
  name = Thomas Birke
  email = {{ .git.email }}

[core]
  autocrlf = input
  commentChar = ";"
  editor = nvim
  excludesfile = ~/.config/git/gitignore_global
  filemode = false
  hooksPath = ~/.config/git/hooks
  pager = diff-so-fancy
  pager = less -R --chop-long-lines --no-init --quit-if-one-screen
  attributesfile = ~/.config/git/attributes

[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  lol = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cblue%ci%Cred%d%Cgreen %an%Creset %s\" --abbrev-commit --all
  smu = submodule update --init
  st = status

[pager] # --no-pager (for opt out)
  dd = true
  dsf = true
  icdiff = true
  status = true
  diff = diff-so-fancy | $(git config core.pager)
  log  = diff-so-fancy | $(git config core.pager)
  show = diff-so-fancy | $(git config core.pager)

[diff] # use `git clean` for removing `*.orig* files after merge
  tool = vimdiff

[difftool]
  prompt = false

[color]
  diff = auto
  status = auto
  branch = auto

[color "diff"]
  whitespace = red reverse

[push]
  default = simple

[commit]
  gpgsign = true

[diff]
  compactionHeuristic = true

[fetch]
  recurseSubmodules = false

[merge]
  tool = vimdiff

[diff-so-fancy]
  stripLeadingSymbols = true
  changeHunkIndicators = true

[tag]
  sort = version:refname

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[credential]
  # helper = cache --timeout=9999999999999999
  helper = "!gopass-git-credentials $@"
